 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Software Developer currently living in Frisco, Texas. I have a passion for both design and programming, and I am well-rounded in both fields. </p>
                </div>
                <div class="col-lg-4">
                    <p>I strive for quality in everything I do. Each project I work on is made with all my effort, and each one is made as efficently and timely as possible.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/cv.pdf" download="cmvriezema_resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
