 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">

                            <!-- Full-width images with number and caption text -->
                            <div class="{{post.slides}}">
                              <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}" style="width:100%">
                            </div>
                            {% if post.img_two %}
                            <div class="{{post.slides}}">
                               <img src="img/portfolio/{{ post.img_two }}" class="img-responsive img-centered" style="width:100%">
                            </div>
                            {% endif %}
                            {% if post.img_three %}
                            <div class="{{post.slides}}">
                              <img src="img/portfolio/{{ post.img_three }}" class="img-responsive img-centered" style="width:100%">
                            </div>
                            {% endif %}
                            </div>
                            <!-- The dots/circles -->
                            <div style="text-align:center">
                                {% if post.img_two %}
                                <span class="dot" onclick="currentSlide(1, {{post.modal-id}} - 1 )"></span>
                                {% endif %}
                                {% if post.img_two %}
                                <span class="dot" onclick="currentSlide(2,  {{post.modal-id}} - 1 )"></span>
                                {% endif %}
                                {% if post.img_three %}
                                <span class="dot" onclick="currentSlide(3,  {{post.modal-id}} - 1 )"></span>
                                {% endif %}
                            </div>
                            
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong>{{ post.client }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong>{{ post.project-date }}
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.engine %}
                                    <li>Tools:
                                        <strong>{{ post.engine }}
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="slideshow-container">
                            {% if post.download %}
                                <a href="img/{{post.download}}" class="btn btn-default btn-fill">
                                    <i class="fa fa-download"></i> {{post.button_msg}}
                                </a>
                            {% endif %}
                            {% if post.link %}
                                <a href="{{post.link}}" class="btn btn-default btn-fill">
                                    <i class="fa fa-external-link"></i> {{post.button_msg}}
                                </a>
                            {% endif %}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}